<%- include("header") %>


<!------------- CONSULTANCY SECTION ----------------->
  <div class="padded" id="consultancySection">
    <h2>SNJ Consultancy</h2>
    <p class="spaced-p">Leading the leaders. <a class="grey" href="#">Consult us</a> to aquire the position you deserve.</p>
    <hr>
    <div class="consultRow">
      <img class="consultancyImage1" src="/IMAGES/Consultancy 2.jpg" alt="">
      <div class="consultRowText" style="padding-right: 10%">
        <h3>Consult Us</h3>
        <p class="">Be it technical, operationa or professional, We have all the solutions for your better career.</p>
      </div>
    </div>
    <div class="consultRow">
      <img class="consultancyImage2" src="/IMAGES/Consultancy 3.jpg" alt="">
      <div style="padding-left: 5%" class="consultRowText">
        <h3>We’re here to help.</h3>
        <p class="">We connect amazing talents with great companies and great comapnies with amazing talents. Join our network today.</p>
      </div>
    </div>
    <div class="paddedTopBtm">
      <h2>Industries Served</h2>
      <hr>
      <div class="row centered ">
        <span class="col-lg-3 paddedTopBtm"><i class="fa-sharp fa-solid fa-coins icon"></i>Financial Services</span>
        <span class="col-lg-3 paddedTopBtm"><i class="fas fa-globe icon"></i>Information Technology</span>
        <span class="col-lg-3 paddedTopBtm"><i class="fas fa-boxes icon"></i>BPO & Shared Services</span>
        <span class="col-lg-3 paddedTopBtm"><i class="fas fa-industry icon"></i>Manufacturing</span>
      </div>
    </div>
  </div>
