

<!-------------- CONTACT SECTION  ------------------->
  <div class="contactSection" id="contactSection">
    <div class="row" style="margin-bottom: 11%">
      <div class="col-lg-6" style="padding-right: 10%">
        <form class="form-control grey" action="/subscribe" method="post">
          <h3>Our emails are zero waste too</h3>
          <p>Subscribe to get exclusive deals, zero waste tips, and product launches—no spam, no waste.</p>
          <div class="input-group mb-3" style="padding: 7%">
            <input id="email" type="text" class="subscribeInput" name="subscriberEmail" placeholder="Subscribe@email.com" style="width: 70%; padding-left: 15px">
            <button class="btn btn-outline-secondary subscribeBtn" name="button" value="subscribeBtn"  type="submit" style="width: 30%; color: white">Subscribe</button>
          </div>
        </form>
      </div>
      <div class="col-lg-2">
        <ul>
          <li class="listHeading">
            <h6>Shop</h6>
          </li>
          <li class="listItem grey"><a class="grey" href="#">All</a></li>
          <li class="listItem grey"><a class="grey" href="#">Holiday Shop</a></li>
          <li class="listItem grey"><a class="grey" href="#">Starter Kit</a></li>
          <li class="listItem grey"><a class="grey" href="#">Refill Packs</a></li>
          <li class="listItem grey"><a class="grey" href="#">Best Sellers</a></li>
        </ul>
      </div>
      <div class="col-lg-2">
        <ul>
          <li class="listHeading">
            <h6>About</h6>
          </li>
          <li class="listItem grey"><a class="grey" href="#">Our Mission</a></li>
          <li class="listItem grey"><a class="grey" href="#">Blog</a></li>
          <li class="listItem grey"><a class="grey" href="#">FAQ</a></li>
          <li class="listItem grey"><a class="grey" href="#">Return Policy</a></li>
          <li class="listItem grey"><a class="grey" href="#">Contact</a></li>
        </ul>
      </div>
      <div class="col-lg-2">
        <ul>
          <li class="listHeading">
            <h6>Follow us on</h6>
          </li>
          <li class="listItem grey"><a class="grey" href="#"><i class="fa-brands fa-facebook icon"></i>Facebook</a></li>
          <li class="listItem grey"><a class="grey" href="#"><i class="fa-brands fa-instagram icon"></i>Instagram</a></li>
          <li class="listItem grey"><a class="grey" href="#"><i class="fa-regular fa-envelope icon"></i>Mail</a></li>
        </ul>
      </div>
    </div>
    <p>Towards making your home a better place to live in.</p>
    <p class="copyright">Copyright 2019<span class="brand-name" style="font-size: 1.3rem">SNJ</span></p>
  </div>
</body>

</html>
