

<%- include("header") %>

<body>

  <!----------- TAGLINE SECTION  --------------->
  <div class="row taglineSection paddedLeftRight" id="taglineSection">
    <div class="col-lg-6">
      <h1 class="tagline tagline1">Clean faster</h1>
      <h1 class="tagline tagline2">Adapt better</h1>
      <h1 class="tagline tagline3">Feel fresh</h1>
    </div>
    <div class="col-lg-6">
      <img class="homeImage" src="/IMAGES/house.png" width="80%">
    </div>
  </div>

  <!------------- PRODUCTS SECTION --------------->
  <div class="productsSection" id="productsSection">
    <h2>Shop By Category</h2>
    <p class="spaced-p">Explore all of our Re-usable and Sustainable cleaning products</p>
    <form class="form-control" action="/login" method="post">
      <div class="row">
        <div class="card zoomParent">
          <div class="card zoomChild" style="margin: 0">
            <img class="card-img-top" height="280px" src="/IMAGES/LiquidSoap.jpg" alt="">
            <div class="card-body">
              <h5>Liquid Soap</h5>
              <p>Keep your hands germ-free</p>
              <button class="btn btn-basic" type="submit" name="button" value="LiquidSoap">Add to cart</button>
            </div>
          </div>
        </div>
        <div class="card zoomParent">
          <div class="card zoomChild" style="margin: 0">
            <img class="card-img-top" height="280px" src="/IMAGES/LiquidDetergent.jpg" alt="">
            <div class="card-body">
              <h5>Liquid Detergent</h5>
              <p>Washing liquid for happy machines</p>
              <button class="btn btn-basic" type="submit" name="button" value="LiquidDetergent">Add to cart</button>
            </div>
          </div>
        </div>
        <div class="card zoomParent">
          <div class="card zoomChild" style="margin: 0">
            <img class="card-img-top" height="280px" src="/IMAGES/ToiletCleaner.jpg" alt="">
            <div class="card-body">
              <h5>Toilet Cleaner</h5>
              <p>Stronger than ever before</p>
              <button class="btn btn-basic" type="submit" name="button" value="ToiletCleaner">Add to cart</button>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>

  <!---------------REFILL SECTION --------------->
  <div class="refillSection" id="refillSection">
    <div class="zoomParent" style="width: 40%; margin: auto; padding: 5% 0">
      <img class="zoomChild" src="/IMAGES/RefillPack.jpg" width="100%" alt="">
    </div>
    <h2>Refill Packs</h2>
    <p class="spaced-p">Buy the bottle once. Refill forever. All without the plastic waste.</p>
  </div>


<!--------------ABOUT SECTION  ------------------->
  <div class="aboutUsSection" id="aboutUsSection">
  </div>


<!------------- CONSULTANCY SECTION ----------------->
  <div class="padded" id="consultancySection">
    <h2>SNJ Consultancy</h2>
    <p class="spaced-p">Leading the leaders. <a class="grey" href="#">Consult us</a> to aquire the position you deserve.</p>
    <hr>
    <div class="consultRow">
      <img class="consultancyImage1" src="/IMAGES/Consultancy 2.jpg" alt="">
      <div class="consultRowText" style="padding-right: 10%">
        <h3>Consult Us</h3>
        <p class="">Be it technical, operationa or professional, We have all the solutions for your better career.</p>
      </div>
    </div>
    <div class="consultRow">
      <img class="consultancyImage2" src="/IMAGES/Consultancy 3.jpg" alt="">
      <div style="padding-left: 5%" class="consultRowText">
        <h3>We're here to help.</h3>
        <p class="">We connect amazing talents with great companies and great comapnies with amazing talents. Join our network today.</p>
      </div>
    </div>
    <div class="paddedTopBtm">
      <h2>Industries Served</h2>
      <hr>
      <div class="row centered ">
        <span class="col-lg-3 paddedTopBtm"><i class="fa-sharp fa-solid fa-coins icon"></i>Financial Services</span>
        <span class="col-lg-3 paddedTopBtm"><i class="fas fa-globe icon"></i>Information Technology</span>
        <span class="col-lg-3 paddedTopBtm"><i class="fas fa-boxes icon"></i>BPO & Shared Services</span>
        <span class="col-lg-3 paddedTopBtm"><i class="fas fa-industry icon"></i>Manufacturing</span>
      </div>
    </div>
  </div>



<%- include("footer") %>