<%- include("header") %>

<div class="profile-section">
    <img class="profile-picture" src="IMAGES/profile-picture.png" alt="">
    
    <div class="padded">

        <h3>Welcome <%= user %></h3>
    
        <h5>Would you tell us more about yourself!</h5>
        <input class="profile-input" type="text">
        <input class="profile-input" type="text">
        <button class="btn grey">Add to my Profile</button>

    </div>

</div>

