

<!----------- TAGLINE SECTION  --------------->
<div class="row taglineSection paddedLeftRight" id="taglineSection">
  <div class="col-lg-6">
    <h1 class="tagline tagline1">Clean faster</h1>
    <h1 class="tagline tagline2">Adapt better</h1>
    <h1 class="tagline tagline3">Feel fresh</h1>
  </div>
  <div class="col-lg-6">
    <img class="homeImage" src="/IMAGES/house.png" width="80%">
  </div>
</div>
